
@{
    ViewData["Title"] = "Message";
}

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="~/images/messagebg.jpg" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">云彩收集放飞板</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">云就像是天空的表情，但并不是一件可有可无的摆设。说出你想对云说的话吧。</div>

        </div>
    </div>
</div>


<!--中间内容-->
<div id="waypoint" class="m-margin- animated fadeIn">
    <div class="ui container m-opacity box-shadow-max">
        <!--                新增留言-->
        <form asp-action="Message">
            <div id="message-form" class="ui form">
                <input type="hidden" name="parentMessage.id" value="-1">
                <!--                    留言区-->
                <div class="field">
                    <textarea name="Context" placeholder="请输入你想要说的话..."></textarea>
                </div>
                <div class="ui grid">
                    <!--输入姓名-->
                    <div class="five wide column">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">  
                                <input type="text" name="CreatorName" placeholder="昵称">
                            </div>
                        </div>
                    </div>

                    <!--输入邮箱-->
                    <!--<div class="five wide column">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="标签">
                            </div>
                        </div>
                    </div>-->

                    <div class="right aligned six wide column">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <button id="messagepost-btn" type="submit" class="ui teal button m-mobile-wide">发布</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <!--留言区-->
        <div class="ui bottom attached m-margin-top">
            <div id="message-container" class="ui teal segment">
                <div>
                    <div class="ui threaded comments" style="max-width: 100%;">
                        <h3 class="ui dividing header">留言</h3>
                        @foreach (var item in Model)
                        {
                            <div class="comment">
                                <a class="avatar">
                                    <img src="@item.HeadImg">
                                </a>
                                <div class="content">
                                    <a class="author">
                                        <span>@item.CreatorName</span>
                                        <div class="ui mini basic teal left pointing label m-padded-mini">栈主</div>
                                    </a>
                                    <div class="metadata">
                                        <span class="date">@item.CreateDate</span>
                                    </div>
                                    <div class="text">@item.Context</div>
                                    <div class="actions">
                                        <a class="reply" data-messageid="1" data-messagenickname="Matt" onclick="reply(this)">回复</a>
                                        <a class="delete" href="#" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')">删除</a>
                                    </div>
                                </div>
                                
                                <!--子集留言-->
                                <!--<div class="comments">
                        <div class="comment">
                            <a class="avatar">
                                <img src="~/images/avatar.png">
                            </a>
                            <div class="content">
                                <a class="author">
                                    <span>小红</span>
                                    <div class="ui mini basic teal left pointing label m-padded-mini">栈主</div>
                                    &nbsp;<span class="m-teal">@@ 小白</span>
                                </a>
                                <div class="metadata">
                                    <span class="date">今天下午 5:42</span>
                                </div>
                                <div class="text">太赞了！ </div>
                                <div class="actions">
                                    <a class="reply" data-messageid="1" data-messagenickname="Matt" onclick="reply(this)">回复</a>
                                    <a class="delete" href="#" onclick="return confirm('确定要删除该评论吗？三思啊! 删了可就没了！')">删除</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                            </div>
                        }
                        </div>

                </div>

            </div>

            <br>
            <br>
            <br>

        </div>
    </div>
</div>
